@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Weather App</h1>
        <p>Enter a location below to search based on one of the following parameters.</p>

        <textarea id="input">Enter Area</textarea>
        <div>
            <button id="weather">Weather</button>
            <button id="temperture">Temperture</button>
            <button id="wind">Wind</button>
            <button id="airQuality">Air Quality</button>
        </div>
    </div>
