@page
@model WeatherApp.ResultsModel
@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<h2>Maps box goes here</h2>

<h4>Current Air Quality = 5 Units</h4>
<h4>Average Air Quality = 6 Units</h4>
